.git
.gitignore
.vscode/
.vscode-test/
src/**/*.ts
tsconfig.json
eslint.json
.eslintrc.json
webpack.config.js
vsc-extension-quickstart.md
**/.DS_Store
**/node_modules
!node_modules/sql.js/**
!node_modules/tiktoken/**
*.vsix
coverage/
.nyc_output/
test/
